[2019-06-09 12:09] diomed opened #1 "click outside the picture"
I think that clicking on left or right area outside the picture should slide images,
and not enhance them.

[2019-06-10 07:58] ts1 commented on #1
Thanks for a nice suggestion @diomed!
I'll give it a thought.

[2019-06-10 12:17] dad2cl3 opened #2 "nuxtjs support"
Phenomenal repo that fits perfectly with a project i'm working on so thank you! Any chance you might be willing to add support for nuxtjs?

Thanks,

Jason

[2019-06-11 00:41] ts1 commented on #2
I'm not familiar with nuxt.js but, I think this can not be SSR'd because it deeply depends on runtime only features like viewport size, image size, etc.
Could it work if you configure this component used client side only?

[2019-06-11 01:10] dad2cl3 commented on #2
Great suggestion. I’ll definitely give it a shot!

[2019-06-14 03:22] #2 closed

[2019-06-14 13:06] #1 closed

[2019-06-14 13:52] diomed commented on #1
neat. thanks❗️  👍

[2019-07-01 20:59] shubhra14 opened #3 "Pass the response from an api"
Thank for this beautiful component.

I have an issue with passing the array from an api to the pages prop.

This is how i'm getting my api response that has a property "media_full" that I need to extract and convert into an array for flipbook

[code]

I tried this but it doesn't work but I see the correct image urls array in my console
[code]

[2019-07-02 02:02] shubhra14 commented on #3
I am able to make this work using .map, however, flipbook isn't working as expected.
[code]
imagesArray is returning 3 images currectly, however, flipbook is only showing me 2 images and the page number count is also incorrect. Please see the screenshot below
![Untitled-1](https://user-images.githubusercontent.com/5490862/60477028-6a5f3880-9c9b-11e9-994b-7b24036b95e1.jpg)

[2019-07-10 03:14] ts1 commented on #3
Sorry for the late reply @shubhra14, I've missed it. (GitHub didn't notified me)
I'll definitely look into it!

[2019-07-10 06:02] shubhra14 commented on #3
Thank you. I appreciate it.

[2019-07-10 12:50] ts1 commented on #3
Thanks for the details @shubhra14, I think I fixed this asynchronous pages initialization case.
Could you try v0.5.1 to see if it's fixed?

[2019-07-11 17:34] shubhra14 commented on #3
I will test this and get back to you. I appreciate you looking into this.

[2019-07-11 18:29] shubhra14 commented on #3
I have tested this and it's showing strange behaviour. It doesn't work when the page initially loads but starts working when I view it the 2nd time..
![flipbook2](https://user-images.githubusercontent.com/5490862/61075418-931fc480-a437-11e9-9d98-fd6ead1abd22.gif)

[2019-07-12 04:04] ts1 commented on #3
Hmm that's strange.
I'll try to reproduce the issue.
Thanks for the report.

[2019-07-12 05:19] shubhra14 commented on #3
I'm using this wordpress theme - https://github.com/bucky355/vue-wordpress

It would probably be better to test with it.

Thank you for your time.

On Fri, 12 Jul 2019, 9:34 am Takeshi Sone, <notifications@github.com> wrote:

[2019-07-12 11:06] ts1 commented on #3
I just published v0.5.2. Could you try this again @shubhra14 ?
I could not reproduce the bug, but obviously the cache of number of pages is not updated reactively for some reason.
I forgot why I cached it but now the code became straight forward a little bit.

[2019-07-15 05:17] shubhra14 commented on #3
Hi @ts1 , it's working perfectly now. Thank you so much for giving your valuable time on this. Cheers!

[2019-07-15 05:17] #3 closed

[2019-07-15 19:59] zacktayl opened #4 "onFlipLeft and onFlipRight events"
Hey!

Really liking this library. What do you think about adding events for 'on-flip-right' and 'on-flip-left'?

I would like to know when users go to the next page (for swipe, clicking gutters, or some other means).

Let me know what you think! I would be willing to make a PR with a suggested implementation if you like?

Thanks

[2019-07-16 03:28] ts1 commented on #4
Thanks for the suggestion @zacktayl!
I've been also thinking about those events.
IMO we should have two events per direction, before-flip and after-flip, before and after animation respectively.
PR is welcome!

[2019-07-16 03:29] ts1 commented on #3
Good news! Thanks!

[2019-07-16 15:34] thefun126 commented on #4
wait your nice work

[2019-07-16 17:08] zacktayl commented on #4
Ok cool! It may be a bit before I can dive in and add the events. For now, I've setup a ref on the component and then used a watcher on currentPage:

[code]

fyi - The above is using the function-api rfc plugin

[2019-07-18 10:42] YamShadow opened #5 "Change direction of books"
Hello

For various applications, would it be possible to add the choice in the reading direction via a prop? (a reading from right to left for example).

thank you in advance

[2019-07-18 11:08] ts1 commented on #5
Hi @YamShadow, thanks for the suggestion!
That feature would be nice to have, but not very easy to implement.
I'll leave this issue for future development.

[2019-07-19 16:32] shubhra14 opened #6 "Option to show a single image per page"
Hi,

Is it possible to show a single large image per page instead of two?

My images have text on them and are horizontal (1024px x 576px). So it becomes a bit difficult to read the text when they are shown in 500px coz width is getting divided for two images.

Thank you

[2019-07-20 02:44] dad2cl3 commented on #2
Wanted to check back in to say I finally had an opportunity to work on getting the component working on the client side only and so far so good.

First create a plugin for nuxt named flipbook.js with the following code:
`import Vue from 'vue'`
`import Flipbook from 'flipbook-vue'`
`Vue.component('Flipbook', Flipbook)
`

Then register the component within the plugins section of nuxt.config.js with

[2019-07-20 05:17] ts1 commented on #6
Hi @shubhra14
OK, I'll add that option and release soon.

[2019-07-20 06:41] #4 closed

[2019-07-20 06:41] #6 closed

[2019-07-20 13:05] shubhra14 commented on #6
You are amazing and this is working great, however, only one small issue. It's starting from page 2 and not 1.

Thank you for your time :)

[2019-07-20 19:08] zacktayl commented on #4
Thanks for adding this, @ts1!

[2019-07-21 07:52] ts1 commented on #6
@shubhra14 I fixed that bug. Please try v0.6.1.

[2019-07-21 21:46] shubhra14 commented on #6
It's fixed. Thank you!

[2019-07-27 12:55] pintaf opened #7 "Remove zoom pointer when only one zoom level"
Hello.

Thanks for this nice work.
I have an improvement idea not so hard to do:

When the prop "zooms" contains an array of only one value then the zoom ou/in pointers should disapear.

Also other issue maybe more complicated to solve:
When passing null to the prop "zooms", the flipbook doesn't display anything. It would be nice it could behave like it receive [1] when receiving null.

[2019-07-29 03:04] ts1 commented on #7
Thank you for the suggestion @pintaf.
I'll definitely work on it.

[2019-07-31 08:15] #7 closed

[2019-07-31 08:43] pintaf commented on #7
Tested it right now, works like a charm! thanks !

[2019-08-21 10:03] bluelemonade opened #8 "Hard Cover"
I tried the flipbook, works great so far.
I have a few questions:
is it possible to use a "hard cover"
can I tilt the complete book, I want to top of the book a little bit "nearer" to the user

thanks

[2019-08-21 11:19] ts1 commented on #8
Thanks @bluelemonade!
Let meclarify your suggestion...
- Tilt the cover page (without curling) a bit when dragging to opposite direction to the next page
- Make cover pages nearer to viewer (viewed larger) than other pages

OK?

[2019-08-21 11:24] bluelemonade commented on #8
1. yes pages without curling, only the cover pages or all pages (chirldren books)
2. no, the complete book should tilt, I didn't want to look 90° vertical on it.

[2019-08-21 12:01] ts1 commented on #8
Alright, I will implement it sometime soon.
Thanks for the idea.

[2019-08-22 07:47] bluelemonade commented on #8
that would be great, tannk you!

[2019-08-22 11:22] ts1 commented on #8
I'll keep this open until it's implemented.

[2019-09-08 11:41] #5 closed

[2019-10-15 11:40] Mimile-EB opened #9 "Flipbook container not centering images"
Hello,

Following the integration of your module in a project that I must develop,
I encounter the following problem,
Flipbook images do not center correctly in the container, shift to the right,
I enclose the screenshot below in which I put a background-color: red in the style of the container and the script code who import the flipbook component to better understand the problem,
Can you please h

[2019-10-15 13:12] ts1 commented on #9
Hello @Mimile-EB
Can you provide a small but complete subset of your project that can reproduce your problem?
Your attached files are incomplete and I cannot reproduce the problem.

[2019-10-15 13:39] Mimile-EB commented on #9
Hello,

Thanks for your feedback,
You will find below the project,
Do not forget to run 'yarn install' to generate the node_modules folder,

Best regards
[Project.zip](https://github.com/ts1/flipbook-vue/files/3729538/Project.zip)

[2019-11-12 21:08] bluelemonade commented on #8
hi, any news on the hardcover pages.

And how can i open the book on the right side, not centered and then moving when two pages are opened?  thanks.

[2019-11-13 07:06] ts1 commented on #8
Hi, hardcover seems harder than I expected, and I didn't have enough time to implement it.
I'm sorry for the delay, but I'll do it some time.

Non-centering seems much easier. I might add that option first.

[2019-11-19 13:58] jeffreyvr opened #10 "Link directly to specific page"
Hi,

This looks very promising!

I took a quick look at the code, but could not figure out if it is possible to link to a page directly (through a direct URL). Or is that something that one would/should implement?

[2019-11-20 03:18] ts1 commented on #10
Hi @jeffreyvr
That feature is not implemented yet.
I'm considering to add a property to specify initial page number.

[2019-11-26 12:10] spacedog4 opened #11 "Event to Zoom-in"
I'd like to have an event to know when the user zoom-in ou zoom-out, so this way a could make it become full screen

[2019-11-26 12:18] spacedog4 commented on #11
What I have to do for now

[code]

and based on that zoom if is bigger than 1 I change my page

[2019-11-26 13:27] ts1 commented on #11
Hi @spacedog4
That feature would be nice to have.
I'll implement it some time soon.

[2019-11-28 09:41] #10 closed

[2019-11-28 09:41] #11 closed

[2019-11-28 19:28] spacedog4 opened #12 "Method to Flip to page"
I'm making this online newspaper for a cliente where I'll have all pages indexed on the left of the website, so the user can go directly to a page, to the cover or to the last page throught buttons.

If I had time I would try to implement as a fork, but these days I don't have much time left

It would be great to have a method for that, for now, if anyone needs the same feature is this that I'm do

[2019-11-28 20:03] spacedog4 commented on #12
By the way, thank you for this amazing package, you're not receiving anything to do that and still keep updating.

Thank you!!

[2019-11-29 02:55] ts1 commented on #12
Hi @spacedog4
I guess you can try `startPage` property I added yesterday.
It has no animation though.

[2020-01-13 14:22] TranceGeniK opened #13 "Demo not working"
![image](https://user-images.githubusercontent.com/1398818/72263071-70ee4580-3618-11ea-9bee-1025d90ba3ee.png)

App files returning 404

[2020-01-14 04:42] ts1 commented on #13
@TranceGeniK Thanks for the heads up!
I forgot to commit new built assets.

[2020-01-14 04:42] #13 closed

[2020-03-14 19:13] mcweekly opened #14 "Zoom on Safari"
I've tried the demo on a few versions of Safari where zoom isn't working properly like it does on Chrome (Mac) or Windows. When I click for zoom it expands beyond the page towards the top left corner no matter where the mouse is pointed.

Safari 13.0.5 / MacOS 10.14.6

I will add more examples when I get them, I'm waiting to here back from my employer on what version he is on (both iPad and laptop

[2020-03-14 19:31] mcweekly commented on #14
Safari 13.0.5 / OS 1.15.3 (Catalina)
iPad Safari 13.3.1

[2020-03-16 06:30] ts1 commented on #14
@mcweekly Thanks for the report.
I confirmed the problem.
I'll investigate it sometime soon.

[2020-04-06 08:08] ts1 commented on #14
I reverted https://github.com/ts1/flipbook-vue/commit/fe7cd467b1cfefa463b3b748b83ccb862737ef77.
Apparently this broke scrolling behavior on Safari.

[2020-04-06 08:08] #14 closed

[2020-04-23 20:59] dev-ccazares opened #15 "Lazy effect"
Hello, thank you for this package that you contribute to us, but I would like to know if you can put a lazy effect when loading the pages, since on my website the images take about 2 seconds to get from the server and it doesn't look good, it would be good to implement a load no I know if you can help me with that or can you tell me how I could put it

[2020-04-24 03:43] ts1 commented on #15
Hello @dev-ccazares
Thanks for the input.
That's a feature I'd like to realize, so I'll be looking into how to implement it for a while.

[2020-04-30 20:57] eoinom opened #16 "Errors building for production in Gridsome project"
Hi there,

I really like the look of this component and want to use it in my Gridsome project but unfortunately I'm getting errors when I try to build it for production. At first I installed it as a module using yarn and imported into my component as follows:

    <script>
    import Flipbook from 'flipbook-vue'
    export default {
      components: {
	      Flipbook
      }
    }
    </script>

[2020-04-30 21:05] dad2cl3 commented on #16
@eoinom I ran into a similar issue while trying to use the component in nuxt.js. The component is not built to support server-side only. I had to wrap it within nuxt.js to only render on the client side. I'm guessing you'll need to do the same in gridsome but have not built anything with gridsome myself. A quick search found this closed issue in the gridsome repo https://github.com/gridsome/gridso

[2020-04-30 21:17] eoinom commented on #16
Cheers Jason. Yeah I think I might have seen that issue in nuxt, or one like it, but didn't know how to do similar for Gridsome. I'll take a look at that link however, thanks a million.

[2020-04-30 21:44] eoinom commented on #16
Thanks Jason, that issue led me to this part of the docs, [https://gridsome.org/docs/assets-scripts/#without-ssr-support](https://gridsome.org/docs/assets-scripts/#without-ssr-support), which details to wrap the component in `<ClientOnly></ClientOnly>` tags. Thanks for your help! 😀

[2020-04-30 21:44] #16 closed

[2020-05-01 04:25] ts1 commented on #16
Thanks @dad2cl3

[2020-05-16 07:05] maxiz22 commented on #15
+1 with lazy loading , it would load very quickly

[2020-05-16 07:47] #12 closed

[2020-05-22 13:02] AndrewKaisser opened #17 "Jump to page featue"
is there a possible way to have a jump to page feature?

[2020-05-25 04:42] ts1 commented on #17
Change `startPage` property.

[2020-05-25 04:42] #17 closed

[2020-05-31 14:32] inglesuniversal opened #18 "FEATURE REQUEST"
Can you support PDF files, HTML Pages, Thumbnails and LastPageSeen ?

That would make your script awesome!!!!

STAY SAFE ---> The world needs developers like you!

[2020-06-01 04:29] ts1 commented on #18
Thanks for the input.
PDF and HTML would be great, but they may be v2.0 (need rewriting, maybe along with #15).

Thumbnails and such can be implemented outside flipbook-vue, if I understand it correctly.

[2020-09-01 07:40] greyovo opened #22 "Flip if tap on the corner of the book"
Hi ts1. Your work is awesome and working well so far.

I was wondering if you could add a feature or option, which allows user to flip pages by tapping the four corners of the page.

Best regards.

[2020-09-02 03:02] ts1 commented on #22
Hi, thanks for your input.
I'll add that option when I have time.

[2020-09-06 20:04] edmi1994 opened #23 "I can't center the flipbook"
good afternoon with everyone maybe someone has had problems with the centering of the flipbook? I can not center it or with centering
![image](https://user-images.githubusercontent.com/48374193/92334302-30818300-f052-11ea-8746-80a8af33556b.png)
![image](https://user-images.githubusercontent.com/48374193/92334304-37a89100-f052-11ea-80e7-e2d1b395c901.png)

[2020-09-07 01:39] ts1 commented on #23
Hello, It seems more like a problem with the html/css that surrounds it rather than a problem with the Flipbook.

[2020-09-16 03:17] guoxiangke opened #25 "loop effect"
Hi, thank you for this package.
Can you add a loop Props to go to the first page when I continue to flip on the last page?
thanks.

[2020-09-16 08:30] ts1 commented on #25
Thank you for your input.
I'll add it my TODO list.

[2020-09-20 10:40] ts1 commented on #15
On v0.9.0 image loading effect and `loadingImage` prop is added. Default is a built-in spinning circle SVG.

[2020-09-20 10:40] #15 closed

[2020-09-20 10:42] ts1 commented on #23
Feel free to reopen if you still have problem.

[2020-09-20 10:42] #23 closed

[2020-09-28 12:18] pauubach opened #26 "Error on zooming"
vue.js:1897 TypeError: this.imageLoader is not a function
    at VueComponent.preloadImages (flipbook-vue:29)
    at VueComponent.zoomTo (flipbook-vue:29)
    at VueComponent.zoomAt (flipbook-vue:29)
    at VueComponent.swipeEnd (flipbook-vue:29)
    at VueComponent.onPointerUp (flipbook-vue:29)
    at invokeWithErrorHandling (vue.js:1863)
    at HTMLDivElement.invoker (vue.js:2188)
    at HTMLDiv

[2020-09-28 14:03] pauubach opened #27 "Feature. Don't reload images every time"
Hi,
As I change page the image is reloaded, it doesn't matter if we have already visited this page. Pages already loaded shouldn't be loaded again.

Could it be fixed??

BTW, wonderful flipbook :).

[2020-09-29 07:22] ts1 commented on #26
Thank you for the catch.
Fixed in v0.10.1.

[2020-09-29 07:22] #26 closed

[2020-09-29 07:25] ts1 commented on #27
I guess it's because of web server's configuration, images are not cached by browser.
Flipbook doesn't do anything special about loading image. (If the browser has cache, it uses cache)

[2020-09-29 07:35] pauubach commented on #26
Very fast. ¡Thanks Takeshi!

[2020-10-18 13:58] fmctaggart opened #28 "Image filename problems"
I noticed that if images have parentheses, then they won't be displayed during the flip - it will just display a transparent polygon.
`image(1).png ` will display with the problem
`image1.png ` will display correctly.

The polygon seems to insert a space on the filename before the parentheses, so the images can't be found.
I'm using this with Nuxt, however I'm not sure if it would make a differenc

[2020-10-19 05:59] ts1 commented on #28
Thanks for the report, @fmctaggart.
I'll investigate the issue.

[2020-10-30 04:59] ciprian90m opened #30 "RangeError: Maximum call stack size exceeded"
Hello,

I'm trying to add your component and Maximum call stack size exceeded is raised

In the array of urls I've tried:

[0: "http://localhost:8080/dam/jcr:230baad3-2047-4955-9a30-83428c163b88/100113.jpg"]
[0: null, 1: "http://localhost:8080/dam/jcr:230baad3-2047-4955-9a30-83428c163b88/100113.jpg"]
[0: "dam/jcr:230baad3-2047-4955-9a30-83428c163b88/100113.jpg"]
[0: null, 1: "dam/jcr:230baad3-2047

[2020-10-30 08:06] ts1 commented on #30
Can you show me the stack trace?

[2020-10-30 09:17] ciprian90m commented on #30
vue.runtime.esm.js:1888 RangeError: Maximum call stack size exceeded
    at a.e._render (vue.runtime.esm.js:3550)
    at a.r (vue.runtime.esm.js:4066)
    at nr.get (vue.runtime.esm.js:4479)
    at new nr (vue.runtime.esm.js:4468)
    at $n (vue.runtime.esm.js:4073)
    at a.Sr.$mount (vue.runtime.esm.js:8415)
    at init (vue.runtime.esm.js:3118)
    at h (vue.runtime.esm.js:5978)
    at p (vue.r

[2020-10-30 09:43] ts1 commented on #30
Hmm... that information is not enough to figure out what is happening.
BTW, your code is trying to append URLs to `pages` dynamically, probably while Flipbook is running.
Unfortunately, Flipbook does not expect the `pages` prop to be changed dynamically.
Maybe this problem can be resolved by moving `pages` from `data` to `computed` and move the `for` loop to that computed, so that Flipbook sees im

[2020-11-03 08:10] ciprian90m commented on #30
Thank you, Takeshi. It worked.

[2020-11-03 13:24] ciprian90m opened #31 "The component is reloaded on every flip"
Hi Takeshi,

I have another problem. The component is reloaded every time I turn pages. I've tried to replicate the same functionality like you've did in the demo. but the behaviour is different. Please take a look.

Thank you.

[code]

[2020-11-04 01:48] #30 closed

[2020-11-04 02:31] ts1 commented on #31
Maybe you are using Vue Router or something like that?
If that is the case, setting `window.location.hash` can be the culprit.

[2020-11-04 09:33] ciprian90m commented on #31
Thank you Takeshi. I'm using history.replaceState now and it works. If I flip right to the end and after I flip left to the end I can't flip to right anymore. Why happens this behavour I can't understand. canFlipLeft and canFlipRight are both of them false.

[2020-11-05 11:11] ciprian90m commented on #31
The previous problem don't replicate anymore but now I'm wonering why the flipbook don't center like you did in the demo and it is aligned at right.

.flipbook-wrapper {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ccc;

[2020-11-07 04:03] ciprian90m commented on #31
Do you have any suggestion what is missing? Thanks

[2020-11-07 06:00] ts1 commented on #31
It's hard to know what's causing the problem with the information you're given.
I can help you if you provide either
- minimum but complete project that can build, run and reproduce the problem
- access to the working site you are building
My email address is in my profile page.

[2020-11-08 07:44] ts1 commented on #31
Turned out that the class name `container` caused the problem.
`container` is used so often, I will change the class name.

[2020-11-08 07:44] #31 closed

[2020-11-08 07:50] ts1 opened #32 "Class name `container` is problematic"
`container` is used so often, and if it is used with the element surrounding Flipbook, it breaks the layout.
See #31.

[2020-12-16 23:13] anamarquezz opened #33 "Is possible to add in the array a local path?"
For Example
'@/assets/img/pagina14.jpg'

[code]

[2020-12-17 01:40] ts1 commented on #33
[code]

OR

[code]
 or something like that.

[2021-01-12 09:17] Sea-DH1 opened #34 "Component hidden initial height problem"
If it is placed inside the component, the component is initially hidden, and there is no default height when the component is displayed

[2021-01-12 10:34] ts1 commented on #34
You have to specify the size, as stated in README.

[2021-01-12 10:34] #34 closed

[2021-01-20 02:01] carlosarmentac opened #35 "Help for to integrate flipbook-vue + Quasar Framework"
I'm having trouble to integrate flipbook-vue  + Quasar Framework, I just Started with an empty Quasar Framework Template and importing flipbook-vue with yarn.
I can see the buttons but no mage. My code is:

[code]

The result is:
![image](https://user-images.githubusercontent.com/782700/105116517-28b5fe80-5a88-11eb-9102-309178325b40.png)

No Warning or Errors in Console. Any clue? Thank you!

[2021-01-27 00:22] kamhawy4 opened #36 "selfHook.bind' is undefined"
When run app displays this error

<img width="1321" alt="Screen Shot 2021-01-27 at 2 21 53 AM" src="https://user-images.githubusercontent.com/25951080/105924178-77decf00-6046-11eb-8ad3-dfc073bc9fc5.png">

and this my  code

`<template>
  <flipbook class="flipbook" v-slot="flipbook" :pages="['null',
    'https://picsum.photos/200/300',
     'https://picsum.photos/200/300',
     'https://picsum.phot

[2021-01-27 06:18] ts1 commented on #36
Are you using Vue 3?
I have not tried Vue 3 yet. I have no idea what happens with it.

[2021-02-17 11:36] piotrbekas commented on #2
I found, that when using `nuxt generate` the `<client-only>` tag helps.

So you could use it like this:
[code]

[2021-02-18 12:52] ts1 commented on #32
Fixed in v0.10.2.

[2021-02-18 12:52] #32 closed

[2021-02-18 12:56] ts1 commented on #35
Sorry for the late reply.
I think `.flipbook .viewport` is not working, because you are not giving class name to `flipbook`.

[2021-02-18 12:58] ts1 commented on #27
I believe this issue is resolved.
Feel free to reopen if it is not.

[2021-02-18 12:58] #27 closed

[2021-02-18 12:59] ts1 commented on #33
I believe this issue is resolved.
Feel free to reopen if it is not.

[2021-02-18 12:59] #33 closed

[2021-02-28 19:56] AvdylKrasniqi opened #37 "How may I rebuild dist files?"
Hi there,
I use your library and I needed to change some part of code because of my costumer needs.
How may I build files that are inside dist folder?

Thank you :)

[2021-03-01 00:07] ts1 commented on #37
[code]

I'll update README to clarify this.

[2021-03-11 03:35] eboye opened #40 "Vue3 support"
Hi,

I just stumbled on your library and I really like it, but as I'm working on a project in Vue3 it breaks when I try to add it via npm.

Are you planning on supporting Vue3 anytime soon?

[2021-03-11 10:01] ts1 commented on #40
Hi,
I will try to support this someday, but I can't say exactly when.
If there is any progress, I will report it in this issue!

[2021-03-11 16:41] eboye commented on #40
@ts1 OK, thanks. I would try to make the changes needed for Vue3, but coffeescript is not my thing ... I would need to learn it first 😄

[2021-03-12 17:42] mitchiru opened #41 "1 Polygon"
Super nice work I must say!!

But removing the curve effect with polygon 1 doesn't work.
First of all <flipbook :nPolygons="3" has no effect, I can see that in vue debugger, its still 10.
When I change the default to 1, the effect is gone but while turning the page, the page is strangely tilted.

I'd suggest to make a property with amount of polygones for each slide. Because most books for instanc

[2021-03-12 17:46] mitchiru commented on #41
Ok , I fixed my problem with the attribute. vue attributes have no camel cases :-D
It's :n-polygons="3"

[2021-03-12 17:48] mitchiru commented on #41
![Uploading Screenshot 2021-03-12 at 18.48.27.png…]()

[2021-03-12 17:51] mitchiru commented on #41
![Screenshot 2021-03-12 at 18 48 27](https://user-images.githubusercontent.com/892231/110978637-edd39700-8363-11eb-9a5d-b23b8f3a9ebc.png)

[2021-03-12 17:52] mitchiru commented on #41
Your code is going to hang in a museum If I get this right.

[2021-03-13 04:23] ts1 commented on #41
Should I change the props in README to kebab case?

[2021-03-16 17:12] mitchiru commented on #41
Probably, people won't use the class props anyways.

Here is what i am doing - still a bit rough but it works.
http://beuys.v22017084135651949.luckysrv.de/

[2021-04-30 14:13] Alex-Aeg opened #43 "Multiple books"
Great library!

Trying to use multiple books in either in the same .html or in multiple. Currently the pages array is inside the app.js file.
How can I move the pages images to an outside js file or (even better) in the html file to render multiple books?

Keep up the great work!

[2021-05-04 06:28] ts1 commented on #43
If I understand you correctly, you can just change `flipbookPages` for each html page in the following example.

[code]

[2021-05-04 08:03] #43 closed

[2021-05-04 11:25] Alex-Aeg commented on #43
Thanks. How to pass props like zooms and singlePage in that format?
Tried in the data object but didn't work.

[2021-05-04 11:31] ts1 commented on #43
Just change this line.
[code]
If you want to change these like `pages`, use `data`.

[2021-05-04 11:39] Alex-Aeg commented on #43
Perfect. Was trying :singlePage=singlePage with value in data, but didn't work.
Like this works :)

[2021-05-23 21:59] piotrku opened #46 "canFlipLeft / Right causes navigational arrows to blink"
When using:
`:class="{ disabled: !flipbook.canFlipLeft }"`
navigational arrows are in fact disabled when you reach the first/last page which is good. but they also get the disabled state during the page transitions, which looks strange  and even annoying. I think that another computed boolean value like `pageInTransition` would solve the issue.

[2021-05-24 06:18] ts1 commented on #46
I will consider adding `pageInTransition`.
Since `flipLeft` only works if `canFlipLeft` is actually `true`, it's not a good thing to change the behavior of `canFlipLeft`.

[2021-06-15 17:46] lucassum opened #50 "Disable zoom on flipbook click only"
There is some way to disable the zoom on flipbook click, becoming avaliable only on custom buttons that calls ref action or something like that?

[2021-06-16 06:41] ts1 commented on #50
There isn't at the moment.
I'll add it to my to-do list.

[2021-06-23 07:09] Marchiuzzz opened #51 "Question: Is it possible to get current offset of zoomed in page?"
Is there any way I could retrieve current position of flipbook's zoomed in page? I am using a canvas which is placed on top of a flipbook, I need to position content within this canvas to match the current zoomed in area of the flipbook but I can't find any way to get the current offset/position of the flipbook image

[2021-06-23 10:38] ts1 commented on #51
There isn't at the moment.
I'll add it to my to-do list.

[2021-07-02 14:06] Marchiuzzz opened #52 "Question: How to implement zoom on double click?"
I know I can use the flipbook's zoomIn() method but I've tried attaching a @dblclick event directly on flipbook component but it seems that it does not fire it for some reason, am I missing something?

[code]

[2021-07-09 06:42] ts1 commented on #52
Sorry for the delay in replying.
You can set up a native `dblclick` handler by writing like the following:
[code]

[2021-07-09 07:24] #50 closed

[2021-07-22 17:14] peaeater commented on #46
I avoid the navigational arrow blink by checking the flipbook's page number instead of canFlipLeft.
`:class="{ disabled: flipbook.page === 1 }"`

[2021-08-05 06:49] Lingouzi opened #56 "navigator is not defined"
ReferenceError: navigator is not defined
    at Object.<anonymous> (/Users/xxx/Documents/hjs/project/hjs_portal_vue/node_modules/flipbook-vue/dist/flipbook.cjs.js:82:21)
    at Module._compile (node:internal/modules/cjs/loader:1109:14)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1138:10)
    at Module.load (node:internal/modules/cjs/loader:989:32)
    at Function.Module.

[2021-08-06 05:04] ts1 commented on #56
See #2

[2021-08-06 05:04] #56 closed

[2021-09-18 11:43] bookstylus opened #57 "Alt Text on images?"
How to put alt text on images?
For accessibility ans SEO

[2021-09-19 06:47] ts1 commented on #57
Thanks for the suggestion.
I'll add it when I have time.

[2021-09-22 14:45] SantiagoRojasBuitrago opened #58 "Drag start event"
Hello, I would like to know how do I activate the event when the user starts to flip by dragging? Thanks in advance

[2021-09-24 05:10] ts1 commented on #58
It is not possible at the moment.
I'll add that feature when I have time.
Thanks for the input.

[2021-10-11 09:43] adaniello opened #60 "Hotspots"
Hi, any chance to add also hotspots on pages?

Thanks

[2021-11-09 21:26] Wintersun93 commented on #8
Any news regarding this? Thank you for your hard work ts1!

[2021-11-12 08:12] ts1 commented on #8
None so far, I'll do it when I have time.

[2021-11-12 22:18] murvinlai opened #61 "Unable to run on HTML"
i tried to put that in html but it doesn't work....

    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.umd.prod.js"></script>
    <script src="https://unpkg.com/flipbook-vue"></script>

and the error I got from browser is:

flipbook-vue:29 Uncaught TypeError: Vue.component is not a function

[2021-11-16 07:42] ts1 commented on #61
Vue 3.x is not supported yet.
Use Vue 2.x instead.

[2021-11-16 07:42] #61 closed

[2022-01-12 05:37] lalalavard opened #62 "can I stop the event which flip by dragging ？"
I add a <input range> slider  to control the progress , but  when flip by dragging  the progress didn'r work, I need to find the event which flip by dragging, could I  use it to rewrite  or stop it? Thanks

[2022-01-13 08:56] ts1 commented on #62
Can you use `page` slot prop like https://github.com/ts1/flipbook-vue/blob/450e8b2822fb9b0c2577049773a7c073d74563ed/src/App.vue#L37 ?
Or I don't understand your problem correctly?

[2022-01-14 15:33] seonwoo960000 opened #64 "2 Get request sent even though singlePage prop is used"
it sends 2 Get requests to the server when I flip to the next page
![image](https://user-images.githubusercontent.com/69591622/149541598-f015ce2e-44b4-40d2-8580-f12ff102972e.png)

my code is
`<flip-book class="flipbook" :pages="pages" v-slot="flipbook" ref="flipbook" singlePage>`

[2022-01-14 15:35] seonwoo960000 commented on #64
this behavior sends duplicate requests for the same image whenever I flip to next page. Btw I love "flipbook-vue", it's so wonderful

[2022-01-15 09:23] ts1 commented on #64
I guess the second one is the prefetch.
This component prefetches the images for the smooth user experience.
You may see the same image is fetched multiple times (prefetch and real `img`), but it should be served from browser's cache, so that should not be a problem.

[2022-01-15 12:48] seonwoo960000-kim commented on #64
thank you for the reply ~

[2022-01-17 09:02] lalalavard commented on #62
thanks, my english is poor 😂..  Can filpbook-vue have a doublecilck method in mobile to flip?  ```dblclick``` didn't work in mobile, only work in PC.

[2022-01-17 14:24] ts1 commented on #62
It's worth giving it some thought.

[2022-03-09 13:26] taglee opened #68 "Encountered an error while turning the page"
Hi sir, first of all thank you very much for your tool, it is very useful
I'm having some problems using your code, if I go to the next page and then go back, I can't do it again. Sometimes when I turn to the last page I still can turn down, and sometimes the button can only be clicked twice, and then there is no response.
Maybe I'm doing something wrong, can you help me？

[2022-03-09 14:37] taglee commented on #68
here are my codes.
`<template>
  <flipbook class="flipbook" :pages="this.pages" v-slot="flipbook">
    <button @click="flipbook.flipLeft">Previous Page</button>
    <button @click="flipbook.flipRight">Next Page</button>
    Page {{ flipbook.page }} of {{ flipbook.numPages }}
  </flipbook>
</template>
<script>
</script>

<script>
import Flipbook from "flipbook-vue";
export default {
  data() {

[2022-03-09 14:39] taglee commented on #68
`<template>
  <flipbook class="flipbook" :pages="this.pages" v-slot="flipbook">
    <button @click="flipbook.flipLeft">Previous Page</button>
    <button @click="flipbook.flipRight">Next Page</button>
    Page {{ flipbook.page }} of {{ flipbook.numPages }}
  </flipbook>
</template>
<script>
</script>

<script>
import Flipbook from "flipbook-vue";
export default {
  data() {
    return {
      page

[2022-03-10 04:06] taglee commented on #68
Sir I found the problem. The reason is that the same picture cannot be used. For the convenience of testing, the same picture is placed in my pages, and this problem will occur.

[2022-03-10 04:06] #68 closed

[2022-04-06 17:12] admix85 commented on #40
Any update about vue 3 Support?
I really like your library, but i need it for a vue 3 project

[2022-04-07 07:00] ts1 commented on #40
I would love to support Vue 3, but I don't exactly figure out how.
From a quick test, it appears that no changes are required to the component itself. It seems to be just a packaging issue.

[2022-04-20 08:38] mikaaax opened #70 "How to install a new version?"
Hello. I cannt install a new version, I dont know why. Can you help me? My test page is here https://gryfnekadry.pl/grand3/public/ ...

[2022-04-21 07:23] ts1 commented on #70
Your page has flipbook-vue built into `app.js` and it is being used, so the `<script>` tag that loads from unpkg.com is not being used.
You will need to work on the source, npm update etc. to update flipbook-vue and re-build it.
This is a general JS development topic and has nothing to do with flipbook-vue itself, so this issue is closed.

[2022-04-21 07:23] #70 closed

[2022-05-18 13:13] pit07 opened #72 "What i'm doing wrong ? Nothing appears"
Hi!
I installed this package,
My page:

[code]
</style>

I have no message, no error... but no flipbook :(

[2022-05-19 01:26] ts1 commented on #72
[code]
These will not be resolved.
Try using require like below;
[code]

[2022-06-03 09:31] M3skar commented on #40
this could help https://github.com/vueuse/vue-demi
it makes it easy to support both Vue2 & Vue3

[2022-06-03 09:40] ts1 commented on #40
@M3skar Thanks!! I'll give it a try!

[2022-07-20 13:05] lolik9l commented on #40
@ts1 Did you manage to try? I would really like to use your library on Vue3

[2022-07-20 13:20] ts1 commented on #40
@lolik9l Yes, I'm trying.
I could not get Vue Demi to work as I expected, then tried `vue-cli-service build --library`, which resulted a huge chunk of unnecessary code, so I'm trying to use `rollup` to build multiple versions of dist js.
The only problem left is how to manage two versions of npm package.

[2022-07-21 14:13] jordanmarshall12 opened #76 "canFlipLeft / canFlipRight is false when current page is less than numPages"
Hello,

I have an issue where the component is setting canFlipLeft/Right and canGoForward/Back to false when I am on a page number that is significantly less than than the total (numPages). My flipbook has a cover page + 4 interior spreads. The library works fine for flipping my first few times, but I don't get the page flipping effect when I attempt to go to spread 3 because of the false values m

[2022-07-23 11:02] ts1 commented on #76
Can you provide a minimum set of a fully working application that reproduce the bug?

[2022-07-26 17:41] jordanmarshall12 commented on #76
I think I have the issue resolved. Closed issue #68 was helpful - I renamed all of the images to have a unique name and it looks like it's working. Thanks for your time!

[2022-07-26 17:41] #76 closed

[2022-08-09 00:59] iplanwebsites commented on #28
For anyone looking for a workaround. I run this script on my image folder to format the images. Was getting a similar issue with spaces in the filenames generated by lightroom.

`const { readdirSync, rename } = require("fs");
const { resolve } = require("path");

// Get path to image directory
const imageDirPath = resolve(__dirname, "public/book/e4");

// Get an array of the files inside the folde

[2022-08-09 20:00] iplanwebsites opened #77 "Question: How to implement flip on click?"
I'm not using the zoom feature and would like to implement page flip on clicks. I haven't seen an easy way to achieve this with the API so I was wondering what would be my best bet to add this functionality.

Great component by the way!

[2022-08-10 04:39] ts1 commented on #77
I think it is not possible at the moment. I will add that feature when I have time.

[2022-08-13 14:30] ts1 commented on #40
I released 1.0.0-alpha, which supports Vue 3 by default.
For Vue 2, use `import Flipbook from 'flipbook-vue/vue2'`.

[2022-09-02 05:09] TMadzi opened #78 "Cannot build using Vue 3"
I am using the library with Vue 3 and the Vitesse template by Anthony Fu. I am able to use the flipbook in development mode but when I try and build I get the following error:

(node:82784) Warning: To load an ES module, set "type": "module" in the package.json or use the .mjs extension.
(Use `node --trace-warnings ...` to show where the warning was created)

[vite-ssg] An internal error occurred.

[2022-09-03 09:00] ts1 commented on #78
I renamed ES module version of built JS to `flipbook.mjs`.
Please try 1.0.0-alpha.4.

[2022-09-03 09:00] #78 closed

[2022-09-13 09:09] adavie1 opened #79 "Import flipbook-vue/vue2 not recognized"
Installed via `yarn add flipbook-vue`

Error `yarn dev`: flibook-vue/vue2 not present

Code:
`import VueFlipbook from 'flipbook-vue/vue2'`

[2022-09-13 09:31] ts1 commented on #79
Which bundler do you use? (webpack, etc)
With webpack it builds fine as in examples/vue2module.

[2022-09-14 01:03] adavie1 commented on #79
Webpack

[2022-09-14 04:43] ts1 commented on #79
Can you provide a minimum, complete set of a project that reproduces the problem?

[2022-09-29 11:09] adavie1 commented on #79
Been a bit busy the new release of Vue app. I'll get back to you latest next week.

[2022-11-03 20:24] brazilsunshine commented on #79
Same problem here

[code]

[2022-11-04 02:15] ts1 commented on #79
That file is not part of flipbook-vue, and it does not require it.